<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="App\\Tests">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="test/_output/coverage"/>
        <log type="coverage-xml" target="test/_output/logs/coverage"/>
        <log type="coverage-clover" target="test/_output/logs/clover.xml"/>
        <log type="coverage-crap4j" target="test/_output/logs/crap4j.xml"/>
        <log type="junit" target="test/_output/logs/junit.xml"/>
    </logging>
</phpunit>
